<app-header-dasboard></app-header-dasboard>

<div class="container">

  <div class="container py-5"  id="#maCarteClasse">
    <div class="row  d-flex justify-content-center">
        <div class="col-6  ">
            <div class="card rounded-0 border-0 shadow">
                <div class="card-body p-5" appCouleurfond>

                    <!--  Bootstrap table-->
                    <div class="table-responsive">
                      <button class="btn btn-outline-warning text-white fw-bold "  data-bs-toggle="modal" data-bs-target="#exampleModal-classe" >Ajouter</button>
                        <table class="table" >

                            <thead>
                                <tr>
                                    <th scope="col " class="text-white fw-bold "  >Nom Matiere</th>
                                    <th scope="col " class="text-white fw-bold "  >Modifier</th>
                                    <th scope="col " class="text-white fw-bold "  >Supprimer</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let clas of usersMat">
                                <tr >
                                    <td class="bg-white fw-bold"> {{clas.matiere}} </td>
                                    <td class="bg-white fw-bold">
                                      <div class="d-flex justify-content-center">
                                        <button class="btn text-white" appCouleurfond data-bs-toggle="modal" data-bs-target="#exampleModal-modif" (click)="selectElement(clas)" > <i class="bi bi-pencil-fill" style="font-size: 20px;"  ></i> </button>
                                      </div>

                                    </td>
                                    <td class="bg-white fw-bold">
                                      <div class="d-flex justify-content-center">
                                        <button class="btn text-white"  appCouleurfond   (click)="supprimerElement(clas)"> <i class="bi bi-trash3-fill" style="font-size: 20px;" ></i> </button>
                                      </div>

                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                    <!-- Add rows button-->
                    <!-- <a class="btn btn-primary rounded-0 btn-block"  href="#">Add new row</a> -->
                </div>
            </div>
        </div>
    </div>
</div>



</div>

<!-- Moal ajout -->

<div class="modal fade" id="exampleModal-classe" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Classe</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" accordion-header></button>
      </div>
      <div class="modal-body" novalidate>
        <form action=""   #validClass="ngForm" >
          <div class="col-md-12">
            <label for="classe" class="form-label">Matiere:</label>
            <input type="text" name="classe" class="form-control" id="matiere" placeholder="La matiere"  required [(ngModel)]=" formuMatiere.matiere" >
            <div class="invalid-feedback">
              <span >
                veillez entrer votre classe
              </span>
            </div>
          </div>

          <div class="d-flex justify-content-end">
            <button class="btn mt-3 text-white fw-bold" type="submit" [disabled]="!validClass.valid" data-bs-dismiss="modal" appCouleurfond (click)="ajouterMatiere ()" >Ajouter</button>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>

<!-- modal modifier -->
<div class="modal fade" id="exampleModal-modif" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Apprenant</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" accordion-header></button>
      </div>
      <div class="modal-body" *ngIf="emelementSelectioner" >
        <form action="" (ngSubmit)="modifierElement ()"  #modifForm="ngForm" >
          <div class="col-md-12">
            <label for="prenom" class="form-label">Prenom:</label>
            <input type="text" name="prenom" class="form-control" id="validationCustom01" placeholder="Prenom" required [(ngModel)]="emelementSelectioner.matiere" #modifPrenom="ngModel"
            [ngClass]="{'is-invalid': modifPrenom.touched && !modifPrenom.valid}">
            <div class="invalid-feedback">
              <span *ngIf="modifPrenom.errors">
              reineigner la class
              </span>
            </div>
          </div>

          <button class="btn btn-primary" type="submit"  [disabled]="!modifForm.valid">modifier</button>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

